# Airbnb iCal URL
# Bu URL'yi Airbnb'den alın:
# 1. Airbnb > Takvim > Müsaitlik ayarları > Takvimi dışa aktar
# 2. "Takvim bağlantısını kopyala" seçeneğini kullanın
# 3. Kopyalanan URL'yi aşağıya yapıştırın

AIRBNB_ICAL_URL=
